@import "tailwindcss";

@layer base {
	html,
	body {
		height: 100vh;
		width: 100vw;
		overscroll-behavior: none;

		/* background-color: #1e1e1e; */
		background-color: var(--color-background);
	}
	/* 
	@media (max-width: 600px) {
		body {
			overflow-y: hidden; 
			height: 100%;
			position: fixed;
		}
	} 
	*/

	html {
		width: 100% !important;
		height: 100% !important;
	}

	html {
		font-family: "Times New Roman", Times, serif;
		font-weight: 400;
		color: var(--fg-color);
	}

	canvas {
		width: auto;
		height: auto;
		image-rendering: pixelated;
	}

	:root {
		--main-50: #f3f7ff;
		--main-100: #e7efff;
		--main-200: #ccdfff;
		--main-300: #adccff;
		--main-400: #87b8ff;
		--main-500: #50a2ff;
		--main-600: #4891e4;
		--main-700: #3e7dc6;
		--main-800: #3366a1;
		--main-900: #244872;
		--main-950: #193351;

		--bg-dark: #1e1e1e;
		--bg-light: #f3f7ff;
		--bg-color: var(--bg-light);

		--black-dark: #ffffff; /* TODO: use a better white like #f3f7ff */
		--black-light: #000000;
		--black-color: var(--black-light);

		--fg-light: var(--main-900);
		--fg-dark: var(--main-100);
		--fg-color: var(--fg-light);

		--inner-bg-light: #edf0f5;
		--inner-bg-dark: #2a2a2a;
		--inner-bg-color: var(--inner-bg-light);

		--gray-dark: #d4d4d4;
		--gray-light: #6b7280;
		--gray-color: var(--gray-light);

		--shade-1-light: var(--main-300);
		--shade-1-dark: var(--main-700);
		--shade-1-color: var(--shade-1-light);

		--control-light: var(--color-gray-50);
		--control-dark: #393939;
		--control-color: var(--control-light);
	}

	@theme {
		--color-main-50: var(--main-50);
		--color-main-100: var(--main-100);
		--color-main-200: var(--main-200);
		--color-main-300: var(--main-300);
		--color-main-400: var(--main-400);
		--color-main-500: var(--main-500);
		--color-main-600: var(--main-600);
		--color-main-700: var(--main-700);
		--color-main-800: var(--main-800);
		--color-main-900: var(--main-900);
		--color-main-950: var(--main-950);
		/* default shade */
		--color-main: var(--main-500);

		--color-background: var(--bg-color);
		--color-foreground: var(--fg-color);

		--color-my-black: var(--black-color);
		--color-my-gray: var(--gray-color);
		--color-shade-1: var(--shade-1-color);
		--color-inner-bg: var(--inner-bg-color);
		--color-control: var(--control-color);
	}

	.w-col-8 {
		width: 7.547169811%;
	}
	.w-col-12 {
		width: 11.320754717%;
	}
	.w-col-14 {
		width: 13.20754717%;
	}

	.h-row-6 {
		height: 5.084745763%;
	}
	.h-row-7 {
		height: 5.93220339%;
	}
}
