@import "tailwindcss";

@layer base {
	html {
		font-family: "Times New Roman", Times, serif;
		font-weight: 400;
		color: oklch(42.4% 0.199 265.638);
	}

	canvas {
		width: auto;
		height: auto;
		image-rendering: pixelated;
	}
}
